@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Travello</title>
        <link rel="stylesheet" text="text/css" href="~/css/WelcomeStyleSheet.css">
   
</head>
<body>
    <div class="main">

        <ul>
            <li class="active"><a href="../Login">Login</a></li>
            <li><a href="/Reg">Register</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </div>
    
    
        <div class="login">
            <form class="int_form " method="post">
                <div class="int_grp">
                    <label for="Username"> Username : </label>
                    <input class="int_box" type="text" name="Username">
                </div>

                <div class="int_grp">
                    <label for="Email">Email :</label>
                    <input class="int_box" id="Email" type="text" name="Email">
                </div>

                <div class="int_grp">
                    <label for="password">Password : </label>
                    <input class="int_box" id="password" type="password" name="Password">
                </div>

                <div class="int_grp">
                    <label for="phoneNumber"> PhoneNumber : </label>
                    <input class="int_box" id="phonenumber" type="text" name="Phonenumber">
                </div>
                <div class="int_grp">
                    <input class="int_box" id="register" type="submit" value="Register">
                </div>

                <p> Have an account  &nbsp; <a href="../Login">login</a> </p>

            </form>
        </div>
    

</body>
</html>

